:root{
  --colorBack: #1f1e1e;
  --colorBlue: #0080c0;
  --colorRed: #ed1b23;
  --colorWhite: white;
  --colorBlack: black;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: var(--colorWhite);
  font-family: "Josefin Sans";
  font-weight: 300;
}

body{
  margin: 0;
  padding: 0;
  margin: auto;
  overflow-X: hidden;
}

.container-out{
  background-color: #1f1e1e;
/*   background-image: url(./assets/fundo.png); */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
/*   box-shadow: inset 0 0 150px 100px black; */
  width: 100vw;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header{
  width: 100vw;
  height: 100px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.logo{
  width: 125px;
  display: flex;
  flex-shrink: 0;
}
.ad{
  font-size: 25px;
  text-align: center;
}
.sign-in{
  font-size: 20px;
  font-weight: 400;
  text-align: center;
  background-color: var(--colorBlue);
  padding: 10px;
  border-radius: 12px;
  margin-right: 20px;
  display: flex;
  flex-shrink: 0;
}

/* _______________________________________________________ */
.container-in{
  width: 100vw;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  box-sizing: border-box;
  overflow: hidden;
}
.ordenar{
  color: var(--colorBlue);
  font-size: 20px;
  font-weight: 400;
}
.busca{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 10px;
}
.busca-2{
  margin-left: 80px;
}
select{
  color: var(--colorWhite);
  padding: 5px;
  font-size: 20px;
  border: none;
  border-radius: 10px;
  outline: 0;
  background-color: transparent;

}
option{
  color: var(--colorBlue);
  font-size: 20px;
  border: none;
  border-radius: 10px;
  outline: 0;
  background-color: transparent;
}

.box{
  position: relative;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  box-sizing: border-box;
  overflow: hidden;
}
/* .slider-back{
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.slider-item{
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  box-sizing: border-box;
  overflow: hidden;
} */
.item{
  position: relative;
  color: black;
  background-color: rgba(255, 255, 255, 0.05);
  border-radius: 15px;
  text-align: center;
  width: 80%;
  height: 120px;
  margin-bottom: 10px;
  padding: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.cor-fundo{
  box-shadow: inset 0 0 40px 30px black;
}
.par{
  box-shadow: inset 0 0 40px 30px rgba(221, 221, 221, 0.3);
}
.num{
  position: absolute;
  font-size: 30px;
  font-weight: 400;
  top: 10px;
  left: 10px;
}
.item-1{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: inherit;
  background-image: url(./assets/quadrado-up_pontos.png);
  background-repeat: no-repeat;
  background-size: 115px;
  margin-top: 10px;
}
.flag{
  width: 200px;
  height: inherit;
  font-size: 10px;
}
.flag img{
  height: 80px;
  border-radius: 10px;
}
.title{
  font-size: 17px;
  font-weight: 400; 
  background-color: black;
}
.address{
  width: 300px;
  text-align: left;
  align-self: flex-start;
  line-height: 22px;
  padding-top: 7px;
}
.opened{
  color: rgb(41, 216, 41); 
  font-weight: bold;
}
.closed{
  color: red;
  font-weight: bold;
}

.item-2{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: inherit;
}

.box-combust{
  width: 60px;
  margin-right: 10px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.box-combust-in{
/*   width: 40px; */
  height: 40px;
  padding: 5px;
  margin-bottom: 5px;
  font-weight: 400;
  font-size: 25px;
  text-shadow: 2px 2px 2px black;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.name-combust{
  font-size: 15px;
  height: 29px;
}
.etanol-img{
  background-color: var(--colorBack);
  border: none;
  box-shadow: inset 1px 1px 20px 5px rgb(47, 255, 99);
}
.gasolina-c-img{
  background-color: var(--colorBack);
  border: none;
  box-shadow: inset 1px 1px 20px 5px rgb(255, 224, 47);
}
.gasolina-a-img{
  background-color: var(--colorBack);
  border: none;
  box-shadow: inset 1px 1px 20px 5px rgb(255, 245, 188);
}
.diesel-500-img{
  background-color: var(--colorBack);
  border: none;
  box-shadow: inset 1px 1px 20px 5px rgb(121, 119, 112);
}
.diesel-s10-img{
  background-color: var(--colorBack);
  border: none;
  box-shadow: inset 1px 1px 20px 5px rgb(97, 32, 12);
}
.box-adicionais{
  width: 60px;
  height: 100%;
  margin-right: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.img-add{
  width: 100%;
  height: 100%;
}

.square-up{
  position: absolute;
  top: 0px;
  left: 0px;
}

/* ________________________________________________ */
@media screen and (max-width: 1100px) {
  .item{
    height: auto;
/*     width: 50%; */
    flex-direction: column;
    flex-wrap: wrap;
  }
  .item-1{
    width: 100%;
    flex-wrap: wrap;
    margin-bottom: 20px;
    margin-top: 0px;
  }
  .item-2{
    width: 100%;
    flex-wrap: wrap;
  }
  .square-up{
    left: 50%;
  }
}

@media screen and (max-width: 650px) {
  .ad{
    font-size: 18px;
  }
  .ordenar{
    font-size: 18px;
  }
  .busca-2{
    margin-left: 40px;
  }
  select{
    font-size: 18px;
  }
  option{
    font-size: 18px;
  }
  .item{
    padding: 5px;
    width: 92%;
  }
  .item-1{
    justify-content: stretch;
    flex-wrap: nowrap;
  }
  .flag{
    width: 170px;
    margin-left: 15px;
  }
  .flag-img{
    height: 75px;
  }

  .item-2{
    justify-content: stretch;
    width: 100%;
    flex-wrap: nowrap;
  }
  .box-combust-in{
    height: 35px;
    font-size: 20px;
  }
  .name-combust{
    font-size: 12px;
    height: 25px;
  }
}